<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:fragment="layout(title,content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/js/fontawesome.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title th:replace="${title}">Kysymys</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <span class="logo">Kysymys</span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <ul>
                        <li class="is-active">
                            <a th:href="@{/user/{id}(id=${#authentication.principal.id})}">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div th:replace="${content}"></div>
</div>
</body>
</html>