<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title th:text="|User not found - KYSYMYS|">KYSYMYS</title>
</head>
<body>
<div class="container">
    <main id="content">
        <section class="section">
            <div class="notification is-danger is-light">
                User not found <span th:text="${id}"></span>
            </div>
        </section>
    </main>
</div>
</body>
</html>