<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title th:text="|Edit user - KYSYMYS|">KYSYMYS</title>
</head>
<body>
<div class="container">
    <main id="content">
        <section class="section">
            <div class="block">
                <h2 class="title">
                    <span class="icon"><i class="fas fa-user-edit"></i></span>
                    <span>Edit Your Profile</span>
                </h2>
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column">
                        <figure class="image is-64x64">
                            <img id="img-avatar" src="" th:src="@{/avatar/{id}(id=${userId})}">
                        </figure>
                    </div>
                    <div class="column">
                        <button class="button" type="button" id="btn-change-avatar">
                            <span class="icon">
                                <i class="fas fa-redo"></i>
                            </span>
                            <span>Change avatar</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="block">
                <form th:action="@{/user/{id}/edit(id=${userId})}" method="post" th:object="${editUserForm}">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" th:field="*{name}" placeholder="User name"
                                   th:classappend="${#fields.hasErrors('name')} ? is-danger">
                        </div>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help is-danger">Name is invalid</p>
                    </div>
                    <div class="field">
                        <label class="label">Current Password</label>
                        <div class="control">
                            <input class="input" type="password" th:field="*{oldPassword}" placeholder="Current Password"
                                   th:classappend="${#fields.hasErrors('oldPassword')} ? is-danger">
                        </div>
                        <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="help is-danger">Password is invalid</p>
                    </div>
                    <div class="field">
                        <label class="label">New Password</label>
                        <div class="control">
                            <input class="input" type="password" th:field="*{newPassword}" placeholder="New Password"
                                   th:classappend="${#fields.hasErrors('newPassword')} ? is-danger">
                        </div>
                        <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="help is-danger">Password is invalid</p>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script>
        /*<![CDATA[*/

        document.querySelector("#btn-change-avatar").addEventListener("click", function(e) {
          fetch('[[@{/avatar/{id}(id=${userId})}]]', {
            method: 'PUT',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: '_csrf=' + document.querySelector("input[name=_csrf]").value
          })
          .then(response => response.blob())
          .then(blob => {
            document.querySelector('#img-avatar').src = URL.createObjectURL(blob)
          })
        });
        /*]]>*/
        </script>
    </main>
</div>
</body>
</html>
