<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">
    <title th:text="|List of users - KYSYMYS|">KYSYMYS</title>
</head>
<body>
<div class="container">
    <main id="content">
        <section class="section">
            <h3 class="title is-5" th:text="#{caption.list_of_teachers}">List of teachers</h3>
            <div class="block" th:if="${teachers.hasContent()}">
                <ul>
                    <li class="media" th:each="teacher : ${teachers}">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="https://via.placeholder.com/128x128.png?text=Image" th:src="@{/avatar/{id}(id=${teacher.id})}">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="title is-5">
                                <a href="#"
                                   th:href="@{/user/{id}(id=${teacher.id})}" th:text="${teacher.name}">
                                    name
                                </a>
                            </div>
                            <div th:text="${teacher.email}">
                                teacher@example.com
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <nav aria-label="pagination" class="pagination" id="pagination-users" role="navigation" th:if="${teachers.totalPages > 0}">
                <ul class="pagination-list">
                    <li th:each="pageNumber : ${pageNumbers}">
                        <a class="pagination-link"
                           th:classappend="${pageNumber==teachers.number + 1} ? 'is-current' : ''"
                           th:href="@{'/teachers'(p=${pageNumber})}"
                           th:text="${pageNumber}">1</a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
</div>
</body>
